.GameController {
  position: absolute;
  /* top: -100em; */
  left: 7em;
  top: 20em;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid rgb(161, 11, 11);
  background-color: rgb(211, 55, 55);
  text-align: center;
  cursor: pointer;
}

.GameController:focus {
  background-color: rgb(140, 209, 35);
  border: 2px solid rgb(11, 161, 56);
  outline: none;
}

.GameController::placeholder {
  color: black;
  font-size: large;
  text-align: center;
  font-weight: bold;
}
