* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background-image: url("./assets/background.gif");
  height: 100vh;
  padding: 10px;
}
